In [11]:
import openpyxl # library that allows reading and writing Excel files .xlsx
import csv # this library will write to data to a CSV file

import pandas as pd
import statistics as states
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
!pip install openpyxl pandas

Requirement already satisfied: openpyxl in c:\users\anna\anaconda3\lib\site-packages (3.1.2)
Requirement already satisfied: pandas in c:\users\anna\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: et-xmlfile in c:\users\anna\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\anna\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anna\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\anna\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\anna\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\anna\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [13]:
df = pd.DataFrame(pd.read_csv("CA2_Dataset.xlsx"))

In [14]:
df.head()

,county,avg_income_eur,avg_land_price_eur_m2,transport_score,school_quality_index,crime_rate_per_10k,green_space_pct,flood_risk_score,broadband_score,house_type,demand_score,demand_category,predicted_house_price_eur
0,Carlow,35980.28,75.85,5.97,7.02,27.66,28.13,3.18,5.44,Apartment,64.448103,Average,78098.14
1,Carlow,29571.72,52.28,1.08,6.45,38.16,17.81,1.68,5.24,Semi-Detached,36.735072,Average,73503.34
2,Carlow,29733.70,83.33,3.27,5.88,23.99,27.67,0.67,6.99,Terraced,36.575152,Average,75004.94
3,Carlow,49669.88,115.81,5.33,6.38,19.91,17.33,3.15,4.64,Detached,65.913075,Average,152940.93
4,Carlow,28938.47,98.35,6.55,6.43,21.61,27.53,1.66,4.67,Detached,44.816833,Average,107326.78

In [15]:
df.tail()

,county,avg_income_eur,avg_land_price_eur_m2,transport_score,school_quality_index,crime_rate_per_10k,green_space_pct,flood_risk_score,broadband_score,house_type,demand_score,demand_category,predicted_house_price_eur
2075,Wicklow,42754.50,72.97,3.38,5.18,36.28,29.57,0.98,5.57,Apartment,46.327921,Average,77780.72
2076,Wicklow,21577.18,125.38,5.32,4.81,32.22,23.32,0.03,3.68,Semi-Detached,25.257086,Low,81847.68
2077,Wicklow,32013.17,81.08,4.49,5.02,37.71,44.30,2.22,7.22,Apartment,45.356938,Average,70058.83
2078,Wicklow,24717.41,74.74,4.74,6.29,36.75,21.92,4.70,6.20,Detached,40.625789,Average,91023.57
2079,Wicklow,38681.16,89.56,3.48,6.13,22.13,31.69,0.61,6.80,Detached,69.315975,High,129475.48

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2080 entries, 0 to 2079
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   county                     2080 non-null   object
 1   avg_income_eur             2077 non-null   float64
 2   avg_land_price_eur_m2      2080 non-null   float64
 3   transport_score            2077 non-null   float64
 4   school_quality_index       2075 non-null   float64
 5   crime_rate_per_10k         2075 non-null   float64
 6   green_space_pct            2080 non-null   float64
 7   flood_risk_score           2077 non-null   float64
 8   broadband_score            2080 non-null   float64
 9   house_type                 2080 non-null   object
 10  demand_score               2080 non-null   float64
 11  demand_category            2080 non-null   object
 12  predicted_house_price_eur  2080 non-null   float64
dtypes: float64(10), object(3)
memory usage: 211.4+ KB

In [17]:
df.dtypes

county                        object
avg_income_eur               float64
avg_land_price_eur_m2        float64
transport_score              float64
school_quality_index         float64
crime_rate_per_10k           float64
green_space_pct              float64
flood_risk_score             float64
broadband_score              float64
house_type                    object
demand_score                 float64
demand_category               object
predicted_house_price_eur    float64
dtype: object

In [18]:
# 'shape' code showing the number of Variables: 4,424 and the number of Observations: 37
df.shape

(2080, 13)

In [19]:
# Using finction .isnull().sum() I am checking how many missing values are in each variable
df.isnull().sum()

county                       0
avg_income_eur               3
avg_land_price_eur_m2        0
transport_score              3
school_quality_index         5
crime_rate_per_10k           5
green_space_pct              0
flood_risk_score             3
broadband_score              0
house_type                   0
demand_score                 0
demand_category              0
predicted_house_price_eur    0
dtype: int64